body {
    background: powderblue;
  }

h1 {
  text-align: center;
}

nav {
  text-align: center;
  word-spacing: 1in;
  background-color: rgb(214, 205, 205);
}

nav a{
  padding-left: auto;
  padding-right: auto;
  width: 50%;
}

img {
  width: 1200px;
  height: 800px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

section#details div {
  float:left;
  width: 50%;
  text-align: center;
}